@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FARMACIA</h1>
    <p class="lead">FARMACIA es un sistema preparado para ser usado en todas las farmacias de la Argentina</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comenzar</h2>
        <p>Comenzar con el Listado de Medicamentos <a class="btn btn-default" href="TB_MEDICAMENTOS1/Index">Ir al Listado de Medicamentos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Más</h2>
        <p>Podés ir también al Listado de Laboratorios <a class="btn btn-default" href="TB_LABORATORIO/Index">Ir al Listado de Laboratorios &raquo;</a></p>
    </div>
</div>